=begin
#tradewatch.io

#Financial market data for Developers

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0-SNAPSHOT

=end

require 'cgi'

module tradewatch
  class AccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Usage statistics
    # Get the usage statistics of your API account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [AccountUsageStatisticsInterval] :interval 
    # @return [Object]
    def getUsage(opts = {})
      data, _status_code, _headers = getUsage_with_http_info(opts)
      data
    end

    # Usage statistics
    # Get the usage statistics of your API account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [AccountUsageStatisticsInterval] :interval 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def getUsage_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountApi.getUsage ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 168
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AccountApi.getUsage, must be smaller than or equal to 168.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AccountApi.getUsage, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/account/usage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'interval'] = opts[:'interval'] if !opts[:'interval'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key_query', 'api_key_header']

      new_options = opts.merge(
        :operation => :"AccountApi.getUsage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountApi#getUsage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
